// flex ====================================================================
@mixin block-flex {
    display: flex;
    align-items: center;
}

// flex centred ============================================================
@mixin block-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// =========================================================================
// @mixin scale-revers {
//     transform: scaleX(0.9);
//     transform: scaleY(0.83);
// }


// @media (max-width: 1199.98px) {
    
// }
// @media (max-width: 992.98px) {
    
// }
// @media (max-width: 480.98px) {
    
// }