@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */

:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
}

.header .menu-wrapper {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0 -1px 10px 1px #c5c5c5;
          box-shadow: 0 -1px 10px 1px #c5c5c5;
}

.header .menu-wrapper .main-logo {
  text-transform: uppercase;
  color: #d88407;
}

.header .menu-wrapper .main-logo .main-logo__text {
  color: #d88407;
}

.header .menu-wrapper .central-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu-wrapper .central-block .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.header .menu-wrapper .central-block .menu__list li {
  padding-left: 1em;
}

.header .menu-wrapper .central-block .menu__list .menu__item {
  color: #161616;
}

.header .menu-wrapper .central-block .menu__smm-wrapper {
  padding-left: 3em;
}

.header .menu-wrapper .central-block .menu__smm-wrapper .smm-wrapper_item {
  padding-left: 1em;
}

.header .menu-wrapper .menu__contacts a {
  color: #d88407;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

body {
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 480.98px) {
  ._container {
    min-width: 320px;
  }
}